.hrsearch-body {
  padding-top: 5%;
}

.email-field {
  padding-bottom: 5%;
}

.text {
  font-size: 1.5em;
  color: white;
  font-family: 'Dosis', sans-serif;
}

.graph {
  background-color: none;
}

.graph-title {
  color: white;
  font-family: 'Dosis', sans-serif;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: #00BCD4 0px 3px 3px;
}

.chart {
  margin: auto;
}
